:root {
  --blue: #292f75;
  --green: #319400;
  --red: #de2110;
  --white: #ffffff;
  --black: #000000;
  --grey-light: #eeeef0;
  --grey-dark: #cacaca;
  --dark-grey-text: #1f2937;
  --yellow: #FFCE44;

  --button-radius: 4px;
  --radius: 10px;
}